html, body {
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

pre {
  max-width: 550px;
  text-align: left;
}

p {
  display: inline-block;
  max-width: 700px;
}

canvas, pre, img {
  margin: 10px auto;
  padding: 10px;
  background: #FFF;
  border-radius: 2px;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.footer {
  font-size: 13px;
  padding: 25px;
}

.footer > a {
  text-decoration: none;
}

.hljs {
  background: #FFF;
}

.sprite-demo > * {
  margin: 10px 10px;
}

.sprite-demo > .source {
  font-size: 11px;
}

.inline {
  display: inline;
}

.doc-item {
  text-align: left;
}
